
.ReactModal__Content--after-open {
  margin: auto;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    font-size: 14px;

    input, label {
      margin: 10px auto;
    }

    button {
      margin-top: 20px;
    }
  }
}
