.header {
  padding-top: 20px;
  position: relative;
  width: 100%;
  text-align: center;
  height: 8vh;

  h1 {
    font-size:24px;
    margin-bottom: 12px;;
  }

  .players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    .player{
      &:first-child {
        margin-left: 50px;
      }
  
      &:last-child {
        margin-right: 50px;
      }

      .name {
        font-size: 22px;
      }
    }
  }

  button {
    font-size: 18px;
    padding: 5px 10px;
    background-color: rgb(75, 75, 75);
    color: white;
    border-radius: 5px;

    &.start {
      position: absolute;
      width: 140px;
      top: 60px;
      left: calc(50vw - 70px)
    }

    &.scores {
      margin: 0 10px;
      position: absolute;
      right: 0;
      top: 5px;
    }
  }
}
