.header {
  padding-top: 20px;
  position: relative;
  width: 100%;
  text-align: center;
  height: 12vh;

  h1 {
    font-size:24px;
    margin-bottom: 12px;;
  }

  .players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    .player{
      display: flex;
      flex-direction: column;
      align-items: center;
      &:first-child {
        margin-left: 50px;
      }
  
      &:last-child {
        margin-right: 50px;
      }

      .name {
        font-size: 22px;
      }

      .content {
        display: flex;
        .commands {
          margin-top: 10px;
          font-size: 14px;
          &:first-child {
            margin-right: 10px;
          }        
        }
      }     
    }
  }

  button {
    font-size: 18px;
    padding: 5px 10px;
    background-color: rgb(75, 75, 75);
    color: white;
    border-radius: 5px;

    &.start {
      position: absolute;
      width: 140px;
      top: 60px;
      left: calc(50vw - 70px)
    }

    &.scores {
      margin: 0 10px;
      position: absolute;
      right: 0;
      top: 5px;
    }
  }

  .command-pause {
    position: absolute;
    width: 240px;
    top: 65px;
    left: calc(50vw - 120px)
  }
}
