.court {
  background-color: black;
  height: 80vh;
  width: 90vw;
  position: relative;
  margin-top: 8vh;

  .middle {
    height: 100%;
    width: 0px;
    position: absolute;
    left: calc(50% - 2px);
    border:none;
    border-left:2px dashed white;
    border-right:2px dashed white;
  }
}
